.layoutContainer {
    display: flex;
    height: 100vh;
    background-color: #121212; 
    font-family: 'Poppins', sans-serif;
}

.mainContent {
    flex-grow: 1;
    padding: 20px;
    color: #ffffff;
}
